* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #ffffff;
  --text-color: #000;
  --background-color-light: #ffffff; /* Default background color (light mode) */
  --background-color-dark: #121212;
  --secound-color: #a09dab;
  --main-color: #f75023;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
 
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: 0.3s;
}
.mode img {
  max-width: 40%;
  width: 130px;
  height: auto;
}
.navlist {
  display: flex; /*from vertical alignment contents such as home,etc-converts to horizontal*/
}
.navlist li {
  position: relative;
}
.navlist a {
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 40px; /* changed padding from 27px to 40px-thus increased space between homeetc*/
}
.navlist a::after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--main-color);
  bottom: -3px;
  left: 0;
  transition: ease 0.4;
}
.navlist a:hover::after {
  width: 100%;
}

.top-btn {
  display: inline-block;
  padding: 9px 30px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: var(--p-font);
  font-weight: 500;
  transition: ease 0.5s;
}
.top-btn:hover /*effects that come when you hover the resume */ {
  transform: scale(1.1);
  background: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--bg-color);
}
.icons {
  width: 30px;
  height: 30px;
}
.headshot {
  width: 300px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
}
section {
  padding: 100px 18%;
}
.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: url(../images/white-concrete-wall.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  align-items: center;
}
.home-text {
  flex: 1;
  max-width: 50%; /* Adjust the width as needed */
}
.home-text h1 {
  margin: 10px 0px 25px;
  font-size: var(--bg-color);
  line-height: 1;
  font-weight: 500;
}

.home-text h5 {
  margin-bottom: 23px;
  font-size: 19px;
  font-weight: 500;
}
span {
  color: var(--main-color);
}
.home-text h3 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
}
.home-text p {
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 28px;
  margin-bottom: 20px;
}

.home-img {
  flex: 1;
  text-align: right;
}
.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(128, 103, 240, 1);
  font-size: 17px;
  color: var(--bg-color);
  margin-right: 22px;
  margin-bottom: 30px;
}
.social a :hover {
  transform: scale(1.1);
  background: var(--main-color);
  transition: 0.5s;
}
.btn {
  display: inline-block;
  color: var(--bg-color);
  background: var(--main-color);
  font-size: var(--p-font);
  padding: 10px 40px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 30px;
  transition: ease 0.4s;
}
.btn:hover {
  transform: scale(1.1);
}
.Projects {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 2rem;
}
.project-img img {
  max-width: 100%;
  width: 540px;
  height: auto;
}
.about-text h2 {
  font-size: var(--h2-font);
  font-weight: 500;
  margin: 8px 0px 25px;
  line-height: 1.1;
}
.about-text h3 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
}
.about-text p {
  max-width: 550px;
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 28px;
  margin-bottom: 45px;
}
.heading {
  text-align: center;
}
.aboutme-content /* this part aligns the content into 4 grids*/ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-gap: 2rem;
  align-items: stretch; /*changed from center*/
  margin-top: 5rem;
}
.row {
  background: var(--background-color-light);
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 /7%);
  border-radius: 12px;
  padding: 45px 45px 45px 45px;
  transition: ease 0.45s;
  cursor: pointer;
  /*adding things from below*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s img {
  height: 65px;
  width: 65px;
  background: #f75124;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.s.s-two img {
  background: #baebcd;
}
.s.s-three img {
  background: #d9d1fa;
}
.s.s-four img {
  background: #faecfa;
}
.row h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2px;
}
.row h5 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 19px;
}
.row p {
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 28px;
}
.row:hover {
  will-change: transform;
  transform: perspective(1000px) rotateX(4.8deg) rotateY(10.23deg)
    scale3d(1.05, 1.05, 1.05);
}
.contact {
  background: #8067f0eb;
  width: 64%;
  margin: 100px auto;
  padding: 70px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-size: cover;
}

.center h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 3px;
  color: var(--bg-color);
}
.center p {
  font-size: var(--p-font);
  color: var(--bg-color);
  line-height: 26px;
  margin-bottom: 25px;
}
.contact .action form input[type="email"] {
  max-width: 100%;
  width: 470px;
  padding: 12px 15px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  margin: 0 10px 20px 0;
  border-radius: 30px;
}
.contact .action form input[type="submit"] {
  padding: 12px 40px;
  background: var(--main-color);
  color: var(--bg-color);
  border: none;
  outline: none;
  margin: 0 10px 20px 0;
  border-radius: 30px;
  cursor: pointer;
}

.ends {
  text-align: center;
  padding: 40px;
}
.ends p {
  font-size: var(--p-font);
  letter-spacing: 1px;
}

/* Dark Mode */

body.dark-mode {
  --bg-color: #371392;
  --text-color: #b63f8e;
  --secound-color: #d1c0c0;

}

body.dark-mode a {
  color: #111;
}

body.dark-mode button {
  background-color: #eee;
  color: #111;
}
/* Dark mode styles */
body.dark-mode {
  --background-color-light: #121212; /* Background color in dark mode */
  /* Add other dark mode variables as needed */
}

body.dark-mode .row {
  background: var(--background-color-dark); /* Use the dark mode background color */
}

/* responsive*/
@media (max-width: 1425px) {
  header {
    padding: 16px 3%;
    transition: 0.3s;
  }
  header.sticky {
    padding: 10px 3%;
    transition: 0.3s;
  }
  .contact {
    width: 95%;
    transition: 0.3s;
  }
  :root {
    --bg-font: 4rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: 0.3s;
  }
}

@media (max-width: 970px) {
  .home {
    min-height: 80vh;
  }
  @media (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px (tablets and mobile) */
    .navlist {
      flex-direction: column; /* Change to a vertical layout for small screens */
    }

    .navlist a {
      padding: 10px; /* Reduce padding for better spacing on small screens */
    }
    .navlist.active {
      top: 100%;
    }
  }
}
@media (max-width: 800px) {
  /* changed from 900* but actually 800 is correct/*
/*.home{
  grid-template-columns: 1fr;
  min-height: 130vh;
  grid-gap: 1rem;
}
.home-text{
  padding-top: 55px;
}
.home-img{
  text-align: center;
}*/
  .Projects {
    grid-template-columns: 1fr;
  }
  .project-img {
    text-align: center;
    margin-bottom: 30px;
  }
  :root {
    --big-font: 3.4rem;
    --h2-font: 2rem;
  }
  section {
    padding: 65px 3%;
    transition: 0.3s;
  }
}
@media (max-width: 540px) {
  .contact .action form input[type="email"] {
    width: 200px;
  }
}
